body{
    background-color: rgb(100, 128, 0);
} 
h1{ 
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: red;
    font-style:italic;
}
h3{
    color: antiquewhite;
}